{% extends "base.twig" %}

{% block content %}
  <h1>Liikmed</h1>
    {# Edited using this: https://bootstrap-table.com/docs/getting-started/usage/ #}
    <table 
    data-toggle="table" 
    data-search="true"
    class="users-table">
      <thead>
        <tr> 
          {% if isABookie %}
              <th>E-mail</th>
          {% endif %}
          <th>Pilt</th>
          <th>Liikme nimi</th>
          {% if isABookie %}
              <th>Isikukood</th>
          {% endif %}
          <th  data-sortable="true">Häälerühm</th>
          <th  data-sortable="true">Tiitel</th>
          <th>Telefoni number</th>
          <th>Email</th>
          <th data-sortable="true">Sünnipäev</th>
          <th  data-sortable="true">Amet naiskooris</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          {% if isABookie %}
              <th>
                <input type="checkbox">
              </th>
          {% endif %}
          <td>
            <img src="{{ function('get_avatar_url', user.ID) }}">
          </td>
          <td>{{user.display_name}}</td>
          {% if isABookie %}
          <td>{{ user.Personal_ID }}</td>
          {% endif %}
          <td>{{ user.vocal-range }}</td>
          <td>{{ user.choir_title }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.user_email }}</td>
          <td>
           {{ function('calculateBirthday', user.Personal_ID )}}
          </td>
          <td>
            {% for role in user.roles %}
              {{ role }}
            {% endfor %}
          </td>
          <td>
            
            {% include "components/userinfo.twig"  %}
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% if isABookie %}
      
    {% endif %}
  
 {% endblock %}